<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/style.css"> <!-- the root '/' is the public folder -->
</head>

<body>
    <div class='main-content'>
        {{>header}}
        <p>This site was created by Liang Fu. It uses data from mapbox.com and darksky.net !</p>
        <img src='/img/me.jpg' class='portrait'>
    </div>
        {{>footer}}
</body>

</html>